<div>
    <p class="tool">
    <mat-toolbar class="toolbar">
        <div class="logtipo web">
            <img src="../../assets/img/LogoSimSave-completo.svg" alt="">
        </div>
          <div class="logtipo mobile">
            <img src="https://www.simsave.com.br/assets/images/IconeSimSave.svg" alt="">
        </div>
        <span class="example-spacer"></span>
        <div class="buttons">
            <button mat-stroked-button class="entrar" routerLink="/login">Entrar</button>
            <button mat-raised-button color="primary" type="button"
            class="cadastro"  type="button" routerLink="/login">Cadastre-se</button>
        </div>
    </mat-toolbar>
</p>
</div>
