<div class="container">
    <div class="top">
        <div class="logo">
            <img routerLink="/home" src="../../assets/img/LogoSimSave-login.svg" alt="">
        </div>
    </div>
    <div class="forms">
        <form method="GET" class="example-form">   
            <h1 class="titulo">Entrar na plataforma</h1>
            <p class="para">Digite seu e-mail e senha abaixo para entrar na plataforma.</p>
            <mat-form-field class="example-full-width">
                <mat-label>Nome</mat-label>
                <input  matInput  minlength="5"  required=""   placeholder="EX: seunome@gmail.com">
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
                <mat-label>Senha</mat-label>
                <input type="password"  required="" matInput placeholder="Digite sua senha ">
            </mat-form-field><br>
            
            <button type="submit" mat-raised-button class="button" color="primary">Entrar</button>
        </form>
        
    </div>
    
  
</div>